{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "last 1 chrome version",
            "last 1 firefox version"
          ]
        },
        "exclude": [
          "transform-regenerator"
        ]
      }
    ]
  ],
  "plugins": [
    "external-helpers",
    "remove-comments",
    "syntax-async-functions"
  ]
}
