<app-header></app-header>

<div class="page-content">
    <form is="app-form" form-action="login">
        <section class="form-group">
            <h2 class="title">Benutzername</h2>
            <input type="text" placeholder="Benutzername" name="username" class="basic-input" autocomplete="off" />
        </section>

        <section class="form-group">
            <h2 class="title">Passwort</h2>
            <input type="password" placeholder="●●●●●●●●●●" name="password" class="basic-input" autocomplete="off" />
        </section>

        <section class="form-group">
            <button class="basic-button" type="submit">Login</button>
        </section>
    </form>
</div>
