<app-header></app-header>

<!-- TODO: we need a reusable partial for this -->
<nav class="nav-bar">
    <a href="/admin/categories" is="app-link" class="item -current">Kategorien</a>
    <a href="/admin/questions" is="app-link" class="item">Fragen</a>
    <a href="/admin/scoreboard" is="app-link" class="item">Scoreboard</a>
</nav>

<div class="page-content">


    <section class="form-group">
        <h2 class="title">Neue Kategorie erstellen</h2>

        <form is="app-form" form-action="create-category">
            <div class="input-group">
                <input type="text" name="name" placeholder="Name" autocomplete="off" class="basic-input input"  />
                <button type="submit" class="basic-button">Erstellen</button>
            </div>
        </form>
    </section>

    <section class="form-group">
        <ul>
            {{#categories}}
                <li>
                    {{name}}
                </li>
            {{/categories}}
        </ul>
    </section>
</div>
