<app-header></app-header>

<!-- TODO: we need a reusable partial for this -->
<nav class="nav-bar">
    <a href="/admin/categories" is="app-link" class="item">Kategorien</a>
    <a href="/admin/questions" is="app-link" class="item -current">Fragen</a>
    <a href="/admin/scoreboard" is="app-link" class="item">Scoreboard</a>
</nav>

<div class="page-content">
    <form is="app-form" form-action="create-question" autocomplete="off">
        <section class="form-group">
            <label class="title" for="category">Kategorie</label>

            <select name="category" id="category" class="basic-input">
                {{#categories}}
                    <option value="{{id}}">{{name}}</option>
                {{/categories}}
            </select>
        </section>

        <section class="form-group">
            <label class="title" for="title">Frage</label>

            <input type="text" name="title" id="title" class="basic-input" placeholder="Frage?">
        </section>

        <section class="form-group">
            <label class="title" for="answer-0">Richtige Antwort</label>

            <input type="text" name="answer" id="answer-0" class="basic-input" placeholder="Richtige Antwort">
        </section>

        <section class="form-group">
            <label class="title" for="answer-1">2. Antwort</label>

            <input type="text" name="answer" id="answer-1" class="basic-input" placeholder="Antwort #2">
        </section>

        <section class="form-group">
            <label class="title" for="answer-2">3. Antwort</label>

            <input type="text" name="answer" id="answer-2" class="basic-input" placeholder="Antwort #3">
        </section>

        <section class="form-group">
            <label class="title" for="answer-3">4. Antwort</label>

            <input type="text" name="answer" id="answer-3" class="basic-input" placeholder="Antwort #4">
        </section>

        <section class="form-group">
            <button type="submit" class="basic-button">Erstellen</button>
        </section>
    </form>
</div>
