<!-- todo: move this to some sort of partial -->
<header class="page-header">
    <div class="content">
        <a href="/" is="app-link">Wer wird Millionär?</a>
    </div>
</header>

<section class="page-content">
    <h1 class="question-title">{{question.title}}</h1>

    <div class="basic-options">

        {{#question.answers}}
            <div class="option">
                <button class="answer-button">{{title}}</button>
            </div>
        {{/question.answers}}

    </div>


</section>
