<!-- todo: move this to some sort of partial -->
<header class="page-header">
    <div class="content">
        <a href="/" is="app-link">Wer wird Millionär?</a>
    </div>
</header>

<game-question class="page-content" game-id="{{game.id}}">
    <section class="form-group">
        <h1 class="question-title">{{question.title}}</h1>

        <div class="basic-options">
            {{#question.answers}}
                <div class="option">
                    <button class="answer-button" is="answer-button" answer-id="{{id}}">{{title}}</button>
                </div>
            {{/question.answers}}
        </div>
    </section>

    <section class="form-group">
        <button class="basic-button" is="event-button" event-name="useJoker" {{#game.has_used_joker}}disabled{{/game.has_used_joker}}>50:50</button>
        <button class="basic-button" is="event-button" event-name="collectReward">Gewinn Realisieren</button>
    </section>
</game-question>
