<!-- todo: move this to some sort of partial -->
<header class="page-header">
    <div class="content">
        <a href="/" is="app-link">Wer wird Millionär?</a>
    </div>
</header>

<section class="page-content">
    <form is="app-form" form-action="register">
        <section class="form-group">
            <h2 class="title">Bitte gib deinen Namen hier ein:</h2>
            <input type="text" placeholder="Name" name="name" class="basic-input" autocomplete="off" />
        </section>

        <section class="form-group">
            <h2 class="title">Mit welchen Kategorien möchtest du spielen?</h2>

            <category-picker class="basic-options">
                {{#categories}}
                    <label class="option">
                        <input type="checkbox" name="category" value="{{id}}">
                        <span class="label">{{name}}</span>
                    </label>
                {{/categories}}
            </category-picker>
        </section>

        <section class="form-group">
            <button class="basic-button">Starten</button>
        </section>
    </form>
</section>
