img {
  max-width: 100%;
}

app-router,
app-view,
game-question,
toast-message,
app-header {
  display: block;
}

app-router {
  position: relative;
}

app-view {
  position: absolute;
  width: 100%;
}

th {
  color: #848484;
}

td, th {
  vertical-align: top;
  text-align: left;
  padding-bottom: 24px;
}

table {
  width: 100%;
}

.cell-meta {
  font-size: 16px;
  display: block;
}

.scoreboard-categories {
  max-width: 140px;
}
