.answer-button {
  display: block;
  width: 100%;
  padding: 20px 36px;
  border-radius: 8px;
  background-color: var(--brand-color);
  color: #fff;
  opacity: .56;
  transition: opacity .125s;
  .user-select(none);
  cursor: pointer;

  &[disabled] {
  }
}
