.answer-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 36px;
  border-radius: 8px;
  background-color: var(--brand-color);
  color: #fff;
  transition: opacity .125s, color .125s, transform .5s;

  .user-select(none);

  > .icon {
    opacity: 0;
    transition: opacity .5s;
  }

  > .icon.-visible {
    opacity: 1;
  }

  &:enabled {
    cursor: pointer;
    opacity: @idle-opacity;
  }

  &:disabled {
    opacity: @disabled-opacity;
  }

  &.-flipped {
    transform: rotateX(180deg);
    color: transparent;
  }

  &:enabled:hover,
  &:enabled:focus {
    opacity: @hover-opacity;
  }

  &:enabled.-active {
    opacity: @active-opacity;
  }
}
