.basic-options {
  display: flex;
  flex-wrap: wrap;
  margin: -12px;
  align-items: flex-end;

  > .option {
    padding: 12px;
    width: 50%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  > .option > button {
    width: 100%;
  }

  > .option > input {
    display: none;
  }

  > .option > .label {
    display: block;
    padding: 20px 36px;
    border-radius: 8px;
    background-color: var(--brand-color);
    color: #fff;
    opacity: @idle-opacity;
    transition: opacity .125s;
    cursor: pointer;

    .user-select(none);
  }

  > .option > .label:hover {
    opacity: @hover-opacity;
  }

  > .option > input:checked + .label {
    opacity: @active-opacity;
  }
}
