.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 220px;

  > .title {
    font-size: 10vmin;
    width: 100%;
    text-align: center;
  }

  > .button {
    margin-top: 48px;
    margin-bottom: 32px;
    padding: 18px 64px;
    border: 4px solid currentColor;
    box-shadow: 0 0 0 4px #fff, 0 0 0 8px currentColor;
    border-radius: var(--box-border-radius);
    color: var(--brand-color);
    font-size: 24px;
    transition: opacity .125s;
    opacity: .7;
  }

  > .button:hover,
  > .button:focus {
    opacity: .8;
  }

  > .button:active {
    opacity: 1;
  }

  > .links > .link {
    color: var(--brand-color);
    opacity: @idle-opacity;
    transition: opacity .125s;
  }

  > .links > .link:hover {
    opacity: @hover-opacity;
  }

  > .links > .link:active {
    opacity: @active-opacity;
  }

  > .links > .link + .link {
    margin-left: 32px;
  }
}
